@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo(a) a agenda da Blue Technology</h1>
    <p>Acessar Usuarios <a href="/usuarios">Usuarios</a>.</p>
</div>
